html {
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: rgb(10 25 47);
}

nav,
.nv,
.ft,
.modal {
  /* background-color: rgb(10 25 47); */
  background-color: #0f2749;
  font-family: "Rajdhani", sans-serif;
}

.text-g {
  color: #64ffda;
}

.text-l {
  color: #ccd6f6;
}

.text-d {
  color: #8892b0;
}
.bg-d {
  background-color: #8892b0;
}

a:active,
a:hover,
li:hover,
.link:hover,
nav button {
  color: #64ffda;
}

.card a,
button {
  border-color: #64ffda;
}

.card a:hover,
button:hover,
#about a:hover {
  background-color: #64ffdb23;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #64ffda;
}
